<form class="form-horizontal">
    <fieldset>

        <legend class="alert alert-danger" role="alert">
            Are you sure want to delete time "{{time.planned.str}} ({{time.actual.str}})"</legend>

        <div class="pull-right form-group">
            <div class="col-md-5">
                <button ng-click="save()" class="btn btn-danger">Delete</button>
            </div>
            <div class="col-md-5">
                <button ng-click="cancel()" class="btn btn-default">Cancel</button>
            </div>
        </div>

    </fieldset>
</form>