<form class="form-horizontal" name="Form">
    <fieldset>

        <legend>{{actionName}} времени:</legend>

        <div class="control-group pull-left form-group col-lg-3">

            <label class="label label-default" for="hours">Часов</label>
            <select ng-model="timeHoursSelected"
                    name="hours"
                    id="hours"
                    ng-options="opt as opt.label for opt in timeHoursOptions">
            </select>

        </div>
        <div class="pull-left form-group col-lg-1"></div>
        <div class="control-group pull-left form-group col-lg-3">

            <label class="label label-default" for="minutes">Минут</label>
            <select ng-model="timeMinutesSelected"
                    name="minutes"
                    id="minutes"
                    ng-options="opt as opt.label for opt in timeMinutesOptions">
            </select>

        </div>

        <div class="clearfix form-group col-lg-1"></div>


        <div class="pull-right form-group">
            <div class="col-md-5">
                <button ng-click="save()" class="btn btn-danger">ОК</button>
            </div>
            <div class="col-md-5">
                <button ng-click="cancel()" class="btn btn-default">Отмена</button>
            </div>
        </div>

    </fieldset>
</form>


