<form class="form-horizontal">
    <fieldset>

        <legend class="alert alert-danger" role="alert">Уверены, что хотите удалить направление "{{direction.title}}"</legend>
        <div class="pull-right form-group">
            <div class="col-md-5">
                <button ng-click="save()" class="btn btn-danger">Удалить</button>
            </div>
            <div class="col-md-5">
                <button ng-click="cancel()" class="btn btn-default">Отменить</button>
            </div>
        </div>

    </fieldset>
</form>