<form name="Form" class="form-horizontal">
    <fieldset>

        <legend>{{actionName}} направление</legend>

        <div class="form-group" ng-class="{error: Form.name.$invalid}">
            <label class="control-label" for="title">Заголовок</label>
            <div class="">
                <input id="title" ng-model="direction.title" name="title" type="text" placeholder="Title (required)" class="form-control input-md" required>
            </div>
            <span ng-show="Form.name.$error.required" class="help-inline">Требуется</span>
        </div>


        <div class="pull-right form-group">
            <div class="col-md-5">
                <button ng-click="save()" ng-disabled="Form.$invalid" name="submit" class="btn btn-info">Сохранить</button>
            </div>
            <div class="col-md-5">
                <div ng-click="cancel()" class="btn btn-default">Отмена</div>
            </div>
        </div>

    </fieldset>
</form>