

<div>

    <nav class="navbar">
        <div class="container">
            <a ng-click="showModalAddDirection()" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Новое направление
            </a>
            <a ng-click="refresh()" class="btn btn-primary">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Обновить
            </a>
        </div>
    </nav>

    <div>
        <div ng-repeat="direction in directions | orderBy:'title'" class="panel panel-default direction-table">
            <div class="panel-heading clearfix">
                <a class="btn btn-link" ng-click="showModalEditDirection(direction._id.$oid)">
                    <span class="h4">{{direction.title}}</span>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
                <a class="btn btn-link pull-right" ng-click="showModalDeleteDirection(direction._id.$oid)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>

            <div class="list-group" ng-controller="TimetableCtrl">
                <div ng-repeat="timetable in direction.timetable | orderBy:'actual.str'" class="list-group-item clearfix">
                    <span>
                        <div class="label label-as-badge" ng-class="{'label-danger': timetable.actual.str!=timetable.planned.str, 'label-default' : timetable.actual.str==timetable.planned.str}">{{timetable.planned.str}}</div>
                        <a class="btn btn-link" ng-click="showModalEditTime(direction,timetable)">
                            {{timetable.actual.str}}
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </span>
                    <a class="btn btn-link pull-right" ng-click="showModalDeleteTime(direction,timetable)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
                <a ng-click="showModalAddTime(direction)" class="btn text-center list-group-item ">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить время
                </a>
            </div>
        </div>
    </div>

</div>



